/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(61, 84%, 52%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
    font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  background-image: url('/img/comics-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero_section{
  height: auto;
  width: 100%;
}

.notice {
    width: 40%;
    height: 50vh;
    margin-left: 3rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    background-image: url('/img/speech.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.notice h2{
    color: var(--first-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.details{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 40%;
    margin-left: auto;
    margin-top: auto;
    background-color: var(--body-color);
    border-radius: 1rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
}

.details .info{
    padding: 1.5rem 2rem;
}

/*=============== CARD ===============*/
.body-container {
    margin-left: 3rem;
  display: grid;
  grid-template-columns: auto;
  /* margin-inline: 1.5rem; */
  padding-block: 1rem;
}

.card__container {
  display: grid;
  row-gap: 3rem;
}

.card__article {
  position: relative;
  display: flex;
  gap: 2rem;
  /* overflow: hidden; */
}

/* .heroA .card__article{
  position: relative;
  overflow: hidden;
  margin: 1rem;
  height: auto;
} */

.card-image{
  /* overflow: hidden; */
  width: 328px;
  height: 514px;
  border-radius: 1.5rem;
}

.card__img {
 width: 100%;
 height: 100%;
}

/* .card__img:hover{
  transform: scale(1.18);
  transition: all ease .5s;
} */

.card__data {
  width: 500px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: relative;
  /* bottom: -1rem;
  left: 0;
  right: 0; */
  margin-left: auto;
  /* opacity: 0; */
  /* transition: opacity 1s 1s; */
}

/* .heroA .card__data{
  width: 300px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
} */

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

.versus_container{
  display: flex;
  background-color: hsla(240, 4%, 11%, 0.2);
  margin-top: 1rem;
  width: 100%;
  height: 60vh;
  justify-content: space-between;
}

.heroA{
  background-color: hsla(253, 61%, 48%, 0.15);
  width: 40%;
  height: auto;
  padding: 1rem;
  margin-left: 1rem;
}

.heroB{
  background-color: hsla(2, 61%, 48%, 0.15);
  width: 40%;
  height: auto;
  padding: 1rem;
  margin-right: 1rem;
}

.heroA .btn{
  background: hsl(231, 82%, 39%);
  color: aliceblue;
}

.heroB .btn{
  background: hsl(2, 83%, 43%);
  color: aliceblue;
}
/* Naming animations in hover */
/* .heroA .card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.heroA .card__article:hover {
  animation: remove-overflow 2s forwards;
}

.heroA .card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.heroA .card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}  */

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(7rem);
  }
  50% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .body-container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .body-container {
    height: auto;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}